* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.header {
  width: 100%;
  height: 100vh;
  background-color: #f2f2f2;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 7px;
  background-color: #333;
  width: auto;
}

.navbar a:hover {
  background-color: orangered;
  color: #fff;
  transition: 0.5s;
}

.navbar h1 {
  color: orangered;
}

.navbar input[type="text"] {
  margin-right: 10px;
}

.navbar a {
  margin-right: 10px;
  text-decoration: none;
  color: #fff;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-container input[type="text"] {
  margin-right: 10px;
}

.search-container button[type="submit"] {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border: 2px solid orangered;
  border-radius: 10px;
}

.search-container button[type="submit"]:hover {
  background-color: orangered;
  border: 2px solid #fff;
  color: #fff;
}

.left-nav {
  width: 300px;
  height: 400px;
  background-color: #333;
  padding: 10px;
  margin-top: 120px;
  margin-left: 5rem;
  border-radius: 10px;
  position: absolute;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.person img {
  width: 80px; /* Adjust the width as per your preference */
  height: 70px; /* Adjust the height as per your preference */
  border-radius: 60%;
  margin-bottom: -110px;
  margin-left: 200px;
  
}

.left-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 2rem;
}

.left-nav li {
  margin-bottom: 10px;
}

.left-nav a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.left-nav a:hover {
  background-color: orangered;
  color: #fff;
  transition: 0.5s;
}

.container-ser {
  display: flex;
  gap: 20px;
  margin-top: 40px;
  margin-left: 300px;
  justify-content: center;
}

.profile-info {
  text-align: justify;
  font-size: 13px;
  margin-right: 15px;
}

.password-info {
  text-align: justify;
  font-size: 13px;
  margin-left: 15px;
}

.edit-profile,
.edit-password {
  margin-top: 10px;
  padding: 20px;
  background-color: #fff;
  width: 300px;
  height: 00px;
}

.edit-profile input,
.edit-password input {
  margin-bottom: 15px;
  box-sizing: border-box;
  width: 100%;
}
.btn:hover {
  color: #fff;
  background-color: orangered;
  transition: 0.5s;
}

.profile h3 {
  margin-left: -1100px;
  margin-right: -15%;
}
.container {
    
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  }

.btn {
  margin-left: 10px;
  padding: 5px 5px;
  background: #333;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  border-radius: 12px;
  text-decoration: none;
  color: #fff;
  }


  .popup{
  width: 400px;
  background: #f2f2f2;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,-50%)scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color:#333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
  
 }

 .open-popup{
  visibility: visible;
  top: 50%;
  transform: translate(-50%,-50%) scale(1);
 } 

 .popup img {
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgb(0, 0, 0, 0.2);
 }
 .popup h2 {
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
  color: #333;
 }
 .popup button {
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: orangered;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgb(0, 0, 0, 0.2);
}